input[type="checkbox"]:checked + img {
    border-color: #0dcaf0; /* Kolor obramowania, gdy zaznaczone */
    transform: scale(1.12);
    background-color: #0dcaf0; /* Opcjonalne podświetlenie */
}
.dice {
    width: 35px;
    margin: 3px;
    height: 35px;
    border-radius: 25%;
    padding: 4px;
    border: 2px solid white;
    transition: all 0.3s ease; /* Dodaj płynne przejście dla wszystkich właściwości */
    background-color: white;
}
.dice:hover {
    border-color: #80DEEA; /* Zmiana koloru obramowania na zielony przy najechaniu */
    background-color: #80DEEA;
    transform: scale(1.08);  /* Powiększenie kostki przy najechaniu */
}

.dice_disabled{
    width: 35px;
    margin: 2px;
    height: 35px;
    border-radius: 25%;
    padding: 3px;
    background-color: gray;
    border: 2px solid gray;

}

.dice_submitted{
    width: 35px;
    margin: 2px;
    height: 35px;
    border-radius: 25%;
    padding: 4px;
    border: 2px solid white;
    background-color: #ffffff;
}


.monster-image{
    width: 80px;
    height: 80px;
    margin: 2px;
}

.attributes-image{
    width: 40px;
    height: 40px;
    margin: 2px;
}

.list-group-item:hover {
    background-color: #ffc107; /* Żółty jak w nagłówku */
    color: black; /* Czarny tekst dla kontrastu */
}
.list-group-item {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.list-group-item:nth-child(2):hover { background-color: #17a2b8; } /* Niebieski */