{% extends "base.html" %}

{% block content %}
<div id="players-list" hx-get="{% url 'get_gameplay_data' %}" hx-trigger="load, every 1s" hx-swap="innerHTML">

<h2>Me:</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Monster</th>
        <th>Health</th>
        <th>Victory</th>
        <th>Energy</th>
    </tr>
    <tr>
        <td>{{ viewing_player.nickname }}</td>
        <td>{{ viewing_player.monster.name }}</td>
        <td>{{ viewing_player.health }}</td>
        <td>{{ viewing_player.victory }}</td>
        <td>{{ viewing_player.energy }}</td>
    </tr>
</table>

<h2>Players:</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Monster</th>
        <th>Health</th>
        <th>Victory</th>
        <th>Energy</th>
    </tr>
    {% for player in players %}
    <tr>
        <td>{{ player.nickname }}</td>
        <td>{{ player.monster.name }}</td>
        <td>{{ player.health }}</td>
        <td>{{ player.victory }}</td>
        <td>{{ player.energy }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Tokyo</h2>
<p>{{ game.tokyo_player.nickname }}</p>


    <h2>Roll dice:</h2>
    <div>
        {% for die in dice %}
        <span>({{ die }})</span>
        {% endfor %}
    </div>


{% if viewing_player.was_attacked %}
<button>
    <a href="{% url 'leave_tokyo' %}">Leave Tokyo</a>
</button>
{% endif %}

<h2>Kept dice:</h2>
<p>
    {% for die in selected_dice %}
    ({{ die }})
    {% endfor %}
</p>
</div>


    <div class="cards">
        <h2>Available Cards</h2>
        {% for card in available_cards %}
            <div class="card">
                <h3>{{ card.name }}</h3>
                <p>Cost: {{ card.cost }}</p>
                <p>{{ card.description }}</p>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="card_id" value="{{ forloop.counter0 }}">
                </form>
            </div>
        {% endfor %}
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const checkGameEnd = function() {
            fetch("{% url 'check_game_status' %}")
                .then(response => response.json())
                .then(data => {
                    if (data.status === "finished") {
                        window.location.href = "{% url 'end_game' %}";
                    }
                });
        };

        const checkCurrentPlayer = function() {
            fetch("{% url 'check_current_player' %}")
                .then(response => response.json())
                .then(data => {
                    if (data.currentPlayer === data.viewingPlayer) {
                        window.location.href = "{% url 'gameplay' %}";
                    }
                    if (!data.viewingPlayer_isActive) {
                        window.location.href = "{% url 'eliminated_player_view' %}";
                    }
                });
        };


        setInterval(() => {
            checkGameEnd();
            checkCurrentPlayer();
        }, 1000);  // Sprawdzanie stanu gry co sekundę
    });
</script>

{% endblock %}
