{% extends "base.html" %}
{% load static %}
{% block content %}


<div id="get_gameplay_data" hx-get="{% url 'get_gameplay_data' %}" hx-trigger="load, every 1s" hx-swap="innerHTML">

<div>
    <h3>Action Log</h3>
    <ul>
        {% for log in game.logs %}
            <li>{{ log }}</li>
        {% endfor %}
    </ul>
</div>

<h2>Me:</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Monster</th>
        <th>Health</th>
        <th>Victory</th>
        <th>Energy</th>
    </tr>
    <tr>
        <td>{{ viewing_player.nickname }}</td>
        <td>{{ viewing_player.monster.name }}</td>
        <td>{{ viewing_player.health }}</td>
        <td>{{ viewing_player.victory }}</td>
        <td>{{ viewing_player.energy }}</td>
    </tr>
</table>

<h2>Players:</h2>
{% for player in players %}
                <p>{{ player.nickname }}</p>
                <img src="{% static player.monster.image %}"  alt="{{ player.monster.name }}" class="monster-image">
                <img src="{% static 'images/heart.png' %}" alt="health points" class="attributes-image">
                <img src="{% static 'images/victory.png' %}" alt="victory points" class="attributes-image">
                <img src="{% static 'images/energy.png' %}" alt="health points" class="attributes-image">
                <p>{{ player.health }}</p>
                <p>{{ player.victory }}</p>
                <p>{{ player.energy }}</p>

            {% endfor %}

<h2>Tokyo</h2>

<img src="{% static game.tokyo_player.monster.image %}"
     alt="{{ game.tokyo_player.monster.name }}"
     class="monster-image">
{{ game.tokyo_player.nickname }}



    <h2>Roll dice:</h2>
    <div>
        {% for die in dice %}
        <span>({{ die }})</span>
        {% endfor %}
    </div>

{% if viewing_player.was_attacked == True and viewing_player.roll_count == 0 and viewing_player != game.attacking_player %}
<button>
    <a href="{% url 'leave_tokyo' %}">Leave Tokyo</a>
</button>
{% endif %}

<h2>Kept dice:</h2>
<p>
    {% for die in selected_dice %}
    ({{ die }})
    {% endfor %}
</p>
</div>


    <div class="cards">
        <h2>Available Cards</h2>
        {% for card in available_cards %}
            <div class="card">
                <h3>{{ card.name }}</h3>
                <p>Cost: {{ card.cost }}</p>
                <p>{{ card.description }}</p>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="card_id" value="{{ forloop.counter0 }}">
                </form>
            </div>
        {% endfor %}
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const checkGameEnd = function() {
            fetch("{% url 'check_game_status' %}")
                .then(response => response.json())
                .then(data => {
                    if (data.status === "finished") {
                        window.location.href = "{% url 'end_game' %}";
                    }
                });
        };

        const checkCurrentPlayer = function() {
            fetch("{% url 'check_current_player' %}")
                .then(response => response.json())
                .then(data => {
                    if (data.currentPlayer === data.viewingPlayer) {
                        window.location.href = "{% url 'gameplay' %}";
                    }
                    if (!data.viewingPlayer_isActive) {
                        window.location.href = "{% url 'eliminated_player_view' %}";
                    }
                });
        };


        setInterval(() => {
            checkGameEnd();
            checkCurrentPlayer();
        }, 1000);  // Sprawdzanie stanu gry co sekundę
    });
</script>

{% endblock %}
