{% extends "base.html" %}

{% block content %}

<h2>Me:</h2>
<table>
    <tr>
        <td>Name</td>
        <td>Monster</td>
        <td>Health</td>
        <td>Victory</td>
        <td>Energy</td>
    </tr>
    <tr>
        <td>{{ viewing_player.nickname }}</td>
        <td>{{ viewing_player.monster }}</td>
        <td>{{ viewing_player.health }}</td>
        <td>{{ viewing_player.victory }}</td>
        <td>{{ viewing_player.energy }}</td>
    </tr>
</table>

<h2>Players:</h2>
<table>
    <tr>
        <td>Name</td>
        <td>Monster</td>
        <td>Health</td>
        <td>Victory</td>
        <td>Energy</td>
    </tr>
    {% for player in players %}
    <tr>
        <td>{{ player.nickname }}</td>
        <td>{{ player.monster }}</td>
        <td>{{ player.health }}</td>
        <td>{{ player.victory }}</td>
        <td>{{ player.energy }}</td>
    </tr>
    {% endfor %}
</table>


<form method="POST">
    {% csrf_token %}
    <h2>Roll dice:</h2>
    <div>
        {% for die in dice %}
            <label>
                <input type="checkbox" name="kept_dice" value="{{ die }}"
                       {% if viewing_player.id != current_player.id %}disabled{% endif %}>({{ die }})
            </label><br>
        {% endfor %}
    </div>
    <button type="submit" name="roll_dice_btn"
            {% if viewing_player.id != current_player.id %}disabled{% endif %}>
        Roll dice
    </button>
    <button type="submit" name="save_dice_btn"
            {% if viewing_player.id != current_player.id %}disabled{% endif %}>
        Save
    </button>
</form>


<h2>Kept dice:</h2>
        {% for die in selected_dice %}
            ({{ die }})
        {% endfor %}
{% endblock %}