{% extends "base.html" %}

{% block content %}

<h2>Me:</h2>
<table>
    <tr>
        <td>Name</td>
        <td>Monster</td>
        <td>Health</td>
        <td>Victory</td>
        <td>Energy</td>
    </tr>
    <tr>
        <td>{{ viewing_player.nickname }}</td>
        <td>{{ viewing_player.monster }}</td>
        <td>{{ viewing_player.health }}</td>
        <td>{{ viewing_player.victory }}</td>
        <td>{{ viewing_player.energy }}</td>
    </tr>
</table>

<h2>Players:</h2>
<table>
    <tr>
        <td>Name</td>
        <td>Monster</td>
        <td>Health</td>
        <td>Victory</td>
        <td>Energy</td>
    </tr>
    {% for player in players %}
    <tr>
        <td>{{ player.nickname }}</td>
        <td>{{ player.monster }}</td>
        <td>{{ player.health }}</td>
        <td>{{ player.victory }}</td>
        <td>{{ player.energy }}</td>
    </tr>
    {% endfor %}
</table>


<form method="POST">
    {% csrf_token %}
    <h2>Roll dice:</h2>
    <div>
        {% for die in dice %}
            ({{ die }})
        {% endfor %}
    </div>
</form>


<h2>Kept dice:</h2>
        {% for die in selected_dice %}
            ({{ die }})
        {% endfor %}
{% endblock %}


    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const checkCurrentPlayer = function() {
                fetch("{% url 'check_current_player' game_code=game_code %}")
                    .then(response => response.json())
                    .then(data => {
                        {#if (data.currentPlayer === data.viewingPlayer) {#}
                        {#    window.location.href = "{% url 'gameplay' game_code=game_code %}";#}
                        {#}#}
                    });
            };

            setInterval(checkCurrentPlayer, 3000);  // Sprawdzanie statusu co 3 sekundy
        });
    </script>