{% extends "base.html" %}
{% block content %}
    <h1>Waiting for other players to join</h1>
    <p> Hello {{ current_player.nickname }}</p>
    <h2>Game code: {{ game_code }}</h2>
    <h2>Other players:</h2>
<div id="players-list" hx-get="{% url 'get_players' game_code=game_code %}" hx-trigger="load, every 3s" hx-swap="innerHTML">
    <ul>
        {% for player in players %}
            <li>{{ player.nickname }} - {{ player.monster }}</li>
        {% endfor %}
    </ul>
</div>
    <p>Once all players will join, the game creator can start the game, by pressing "Start"</p>

 {% if current_player.id == players.0.id %}
     <a href="{% url 'start_game' game_code=game_code %}">Start</a>
        <button
            hx-post="{% url 'start_game' game_code=game_code %}"
            hx-trigger="click"
            hx-swap="none">
            Start
        </button>
    {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const checkGameStatus = function() {
                fetch("{% url 'check_game_status' game_code=game_code %}")
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === "playing") {
                            window.location.href = "{% url 'gameplay_view' game_code=game_code %}";
                        }
                    });
            };

            setInterval(checkGameStatus, 3000);  // Sprawdzanie statusu co 3 sekundy
        });
    </script>
{% endblock %}